<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.take_out.dao.MarketPasswordDao">
    <!--查询所有市场管理密码-->
    <select id="findAll" resultType="MarketPassword">
        select * from market_password
    </select>

    <!--根据MarketUserId查询市场管理密码-->
    <select id="findMarketPasswordByMarketUserId" resultType="MarketPassword">
        select * from market_password where market_user_id=#{marketUserId}
    </select>

    <!--插入信息-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`.`market_password`
        (`password`, `d_password`, `market_user_id`,`creation_time`, `modification_time`)
        VALUES
        (#{password}, #{dPassword}, #{marketUserId}, #{creationTime}, #{modificationTime});
    </insert>

    <!--更新信息-->
    <update id="modify" useGeneratedKeys="true" keyProperty="id">
        UPDATE `order`.`market_password`
        <set>
            <if test="password!=null and password!=''">`password`=#{password}, </if>
            <if test="dPassword!=null and dPassword!=''">`d_password`=#{dPassword}, </if>
            <if test="marketUserId!=null">`market_user_id`=#{marketUserId}, </if>
            <if test="creationTime!=null">`creation_time`=#{creationTime}, </if>
            <if test="modificationTime!=null">`modification_time`=#{modificationTime}, </if>
        </set>
        WHERE id=#{id};
    </update>

    <!--删除信息-->
    <delete id="delete" parameterType="int">
        delete from market_password where id=#{id}
    </delete>
</mapper>