<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.take_out.dao.MarketUserDao">
    <!--查询所有市场管理账号-->
    <select id="findAll" resultType="MarketUser">
        select * from market_user
    </select>

    <!--根据MarketId查询市场管理账号-->
    <select id="findMarketUserByMarketId" resultType="MarketUser">
        select * from market_user where market_id=#{marketId}
    </select>

    <!--根据UserName查询市场管理账号-->
    <select id="findMarketUserByUserName" resultType="MarketUser">
        select * from market_user where username=#{username}
    </select>

    <!--插入信息-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`.`market_user`
        (`username`, `market_id`, `creation_time`, `modification_time`)
        VALUES
        (#{username}, #{marketId}, #{creationTime}, #{modificationTime});
    </insert>

    <!--更新信息-->
    <update id="modify" useGeneratedKeys="true" keyProperty="id">
        UPDATE `order`.`market_user`
        SET
        `username`=#{username}, `market_id`=#{marketId},
        `creation_time`=#{creationTime}, `modification_time`=#{modificationTime}
        WHERE id=#{id};
    </update>

    <!--删除信息-->
    <delete id="delete" parameterType="int">
        delete from market_user where id=#{id}
    </delete>
</mapper>