<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.take_out.dao.FoodDao">
    <!--查询所有食品-->
    <select id="findAll" resultType="Food">
        select * from food
    </select>

    <!--根据categoryId查询所有食品列表，一个类别存在多个食品-->
    <select id="findFoodByCategoryId" resultType="Food">
        select * from food where category_id=#{categoryId}
    </select>

    <!--插入信息-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        `order`.`food`
        (`name`, `description`, `original_price`, `price`, `sales_volume`, `category_id`, `creation_time`, `modification_time`)
        VALUES
        (#{name}, #{description}, #{originalPrice}, #{price}, #{salesVolume}, #{categoryId}, #{creationTime}, #{modificationTime});
    </insert>

    <!--更新信息-->
    <update id="modify" useGeneratedKeys="true" keyProperty="id">
        UPDATE `order`.`food`
        <set>
            <if test="name!=null and name!=''">`name`=#{name}, </if>
            <if test="description!=null and description!=''">`description`=#{description}, </if>
            <if test="originalPrice!=null">`original_price`=#{originalPrice}, </if>
            <if test="price!=null">`price`=#{price}, </if>
            <if test="salesVolume!=null">`sales_volume`=#{salesVolume}, </if>
            <if test="categoryId!=null">`category_id`=#{categoryId}, </if>
            <if test="creationTime!=null">`creation_time`=#{creationTime}, </if>
            <if test="modificationTime!=null">`modification_time`=#{modificationTime} </if>
        </set>
        WHERE id=#{id};
    </update>

    <!--删除信息-->
    <delete id="delete" parameterType="int">
        delete from food where id=#{id}
    </delete>
</mapper>