<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.take_out.dao.MerchantDao">
    <!--查询所有商店-->
    <select id="findAll" resultType="Merchant">
        select * from merchant
    </select>

    <!--根据MarketId查询商店列表，一个市场存在多个商店-->
    <select id="findMerchantByMarketId" resultType="Merchant">
        select * from merchant where market_id=#{marketId}
    </select>

    <!--根据name查询商店列表，一个名字可能存在多个商店-->
    <select id="findMerchantByName" resultType="Merchant">
        select * from merchant where name like CONCAT('%',name,'%')
    </select>

    <!--插入信息-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`.`merchant`
        (`name`, `address`, `is_do_business`, `market_id`, `creation_time`, `modification_time`)
        VALUES
        (#{name}, #{address}, #{isDoBusiness}, #{marketId}, #{creationTime}, #{modificationTime});
    </insert>

    <!--更新信息-->
    <update id="modify" useGeneratedKeys="true" keyProperty="id">
        UPDATE `order`.`merchant`
        <set>
            <if test="name!=null and name!=''">`name`=#{name}, </if>
            <if test="address!=null and address!=''">`address`=#{address}, </if>
            <if test="isDoBusiness!=null">`is_do_business`=#{isDoBusiness}, </if>
            <if test="marketId!=null">`market_id`=#{marketId}, </if>
            <if test="creationTime!=null">`creation_time`=#{creationTime}, </if>
            <if test="modificationTime!=null">`modification_time`=#{modificationTime} </if>
        </set>
        WHERE id=#{id};
    </update>

    <!--删除信息-->
    <delete id="delete" parameterType="int">
        delete from merchant where id=#{id}
    </delete>
</mapper>